.DS_Store
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.resolved
.idx/**
.firebase*
firebase.*
.vscode/settings.json


# 1. Ignore everything inside .build (but allow Git to enter the directory itself)
**/.build/*

# 2. Un-ignore the 'plugins' folder
!**/.build/plugins/

# 3. Ignore everything inside 'plugins' (so other plugins stay hidden)
**/.build/plugins/*

# 4. Un-ignore the 'PackageToJS' folder
!**/.build/plugins/PackageToJS/

# 5. Ignore everything inside 'PackageToJS'
**/.build/plugins/PackageToJS/*

# 6. FINALLY, un-ignore the 'outputs' folder and all its contents!
!**/.build/plugins/PackageToJS/outputs/